@use '@/styles/variables' as var;
@use 'sass:color';

.card {
  background-color: #ffffff;
  border: 1px solid color.adjust(var.$dark-text, $lightness: 80%);
  border-radius: 8px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(var.$dark-text, 0.05);
  }
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  color: var.$dark-text;
  margin-right: 1rem;
}

.links {
  display: flex;
  gap: 1rem;
  a {
    color: color.adjust(var.$dark-text, $lightness: 40%);
    transition: color 0.2s ease;
    &:hover {
      color: var.$primary-accent;
    }
  }
}

.description {
  font-size: 1rem;
  line-height: 1.6;
  color: color.adjust(var.$dark-text, $lightness: 25%);
  flex-grow: 1;
  margin-bottom: 1.5rem;
}

.techList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.techItem {
  font-family: var.$font-secondary;
  font-size: 0.875rem;
  color: var.$primary-accent;
  background-color: color.adjust(var.$primary-accent, $lightness: 40%);
  padding: 0.25rem 0.75rem;
  border-radius: 999px;
}