// Breakpoints
$breakpoint-mobile: 768px;

// Colors
$light-bg: #ffffff;
$dark-text: #1A1A1A;
$primary-accent: #7b00ff;
$primary-accent-light: rgba(123, 0, 255, 0.1);
$primary-accent-dark: rgba(123, 0, 255, 0.3);


// Typography
$font-primary: 'Inter', sans-serif;
$font-secondary: 'Space Grotesk', sans-serif;

// Layout
$container-width: 1200px;
$section-padding: 8rem 0;