@use '@/styles/variables' as var;
@use 'sass:color';

.footer {
  padding: 2rem;
  text-align: center;
  border-top: 1px solid color.adjust(var.$dark-text, $lightness: 85%);
  
  p {
    font-size: 0.9rem;
    color: lighten(var.$dark-text, 50%);
  }
}